Package: com.oskarw.ccssh
Name: CCSSH
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Oskar Wirga
Author: Oskar Wirga
Section: Tweaks
